
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Areas/KTV/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-title"><h3>Đổi mật khẩu</h3></div>
    <hr />
    <div class="panel-body">

        @using (Html.BeginForm("ChangePass", "Home", FormMethod.Post))
        {
            <p style="color: red">@Html.Raw(ViewBag.Error)</p>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="password" class="form-control" name="oldPass" id="oldPass" placeholder="Mật khẩu cũ">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="password" class="form-control" name="NewPass1" id="NewPass1" placeholder="Mật khẩu mới">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="password" class="form-control" name="NewPass2" id="NewPass2" placeholder="Nhập lại mật khẩu mới">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Xác nhận</button>
                    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }

    </div>
</div>
